
/* ********** PREGUNTAS FRECUENTES ********** */
.faq-preguntas {
    background-color: var(--page_color_background);
    color: var(--beige_color);
    margin: 30px 0px;
    display: flex;
    justify-content: center;
}

.faq-contenedor-preguntas {
    background-color: var(--header_color_background);
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    border: 4px solid var(--gold_color);
    
}

.faq-contenedor-preguntas h2 {
    color: var(--beige_color);
}

.faq-boton {
    border: none;
    outline: none;
    background-color: var(--primary_color);
    color: var(--beige_color);
    border-top: 1px solid var(--gold_color);
}

.faq-answer {
    color: var(--alice_color);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    animation: fadeIn 0.3s ease;
    p {
        color: var(--beige_color);
        text-align: center;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header_color_background);

}

.question {
    padding: 24px 0px 24px 0px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: white;
}


.faq-header svg{
    color: var(--gold_color);
}

.faq-icon {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  padding-left: 12px;
  color: var(--gold_color);
}



/* ********** PANTALLAS GRANDES ********** */
@media (min-width: 768px) {
  
    .faq-contenedor-preguntas {
        margin: 0 auto;
        max-width: 700px;
        padding: 70px;
        border-radius: 1rem;
    }

    .question {
        padding: 24px 0px 24px 0px;
        font-size: 25px;
    }
}

