/* ********** TESTIMONIOS ********** */
.prueba-social {
    background-color: var(--page_color_background);
    color: var(--beige_color);
}

.tituloPruebaSocial {
    color:var(--header_color_background);
}

.goldenText {
    color: var(--gold_color);
}

.marcoTestimonios {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-top: 2px solid var(--gold_color);
  

}
.cardTestimonio {
  background-color: var(--alice_color);
  width: 360px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cardImageTop {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 12px;
  padding: 12px;

}

.memberName, .memberStatus {
  font-size: 1.8rem;
  font-weight: 600;
}
.cardBody {
  text-align: center;
  color: var(--header_color_background);
  padding: 12px 24px;

}

.descriptionText {
  font-size: 1.7rem;
  line-height: 2rem;
}

/* ********** PANTALLAS GRANDES ********** */
@media (min-width: 768px) {
    .integrante {
       height: 300px;
    }
}