/* ********** TESTIMONIOS ********** */
.prueba-social {
    background-color: var(--page_color_background);
    color: var(--beige_color);
}

.tituloPruebaSocial {
    color:var(--header_color_background);
}

.goldenText {
    color: var(--gold_color);
}

.marcoTestimonios {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.cardTestimonio {
  background-color: var(--alice_color);
  width: 360px;
  padding: 10px 15px 10px 15px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-top: 2px solid var(--gold_color);
  border-radius: 25px;
  
}

.cardImageTop {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 12px;
  padding: 12px;

}

.memberName {
  font-size: 2.5rem;
  font-weight: 600;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

.memberStatus {
  font-size: 2rem;
  font-weight: 600;
}

.cardBody {
  text-align: center;
  color: var(--header_color_background);
  padding: 12px 24px;

}

.descriptionText {
  font-size: 1.7rem;
  line-height: 2rem;
}

/* ********** PANTALLAS GRANDES ********** */
@media (min-width: 768px) {
  .marcoTestimonios {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
  
}