
/* ****************************** HEADER ****************************** */

header {
    width: 100%;
    background-color: var(--header_color_background);

}
nav {
    width: 100%;
    padding: 30px 0px 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firma-yrazu {
    padding-top: 40px;
    padding-bottom: 15px;
    width: 340px;
}

.globe-life, .carta-bussiness {
    padding-top: 15px;
    padding-bottom: 20px;
    width: 200px;
}

@media (min-width: 768px) {
    nav {
        padding: 30px 10% 15px 10%;   
        flex-direction: row;
        justify-content: space-between; 
    }
}