
/* ********** PROPUESTA ********** */

.propuesta-valor {
    background: linear-gradient(180deg, #F1E9DD 0%, #E9D2BA 100%);
    padding: 12px 24px 0px 24px; 
}


.tituloPropuesta, .protagonista{
    text-align: center;
    padding: 18px;
}

.protagonista {
    color: var(--gold_color);
    text-shadow: 2px 2px 6px rgba(175, 146, 76,0.8);
    
}

.emparejados {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.FotoYrazu img {
    width: 320px;
    height: 480px;
    display: block;
    margin: 0 auto;
}

.sobre-yrazu {
   max-width: 480px;

}

.listaPropuesta {
    list-style: none;
}

.itemListaPropuesta {
    display: flex;
    gap: 8px;
}

.iconoDorado {
    color: var(--gold_color);
    font-weight: 700;
}


/* Pantallas grandes  */

@media (min-width: 768px) {
    .emparejados {
        flex-direction: row;
    }

.FotoYrazu {
    width: 40%;
    margin: 0 auto;
}

.sobre-yrazu {
    width: 60%;
    margin: 0 auto;

}

}
