/* ********** FOOTER ********** */
footer {
  background: linear-gradient(
    90deg,
    #004444 0%,
    /* Extremo izquierdo: muy oscuro */ #006666 20%,
    /* Oscuro */ #008080 80%,
    /* Vuelta al teal */ #006666 100% /* Extremo derecho oscuro */
  );
  position: relative;
}

footer .separador {
  padding-top: 20px;
  padding-bottom: 20px;
}
.final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.final h2 {
  padding: 12px;
  color: var(--gold_color);
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px;
  width: 320px;
}

.logos img {
  width: 50px;
  height: 50px;
}

.legales li {
  padding-top: 5px;
  list-style: none;
  text-decoration: none;
}

.legales a,
.email-contacto a {
  color: var(--gold_color);
}

.wasap,
.instagram,
.facebook,
.email,
.youtube {
  color: var(--gold_color);
}

.email-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.email-contacto a,
.email-contacto p {
  text-align: center;
  color: var(--gold_color);
}

.wasap {
  position: fixed;
  bottom: 50px;
  right: 10px;
}

/* ********** PANTALLAS GRANDES ********** */
@media (min-width: 768px) {
  .final .separador {
    width: 60%;
  }
}
